body{
    margin: 0px;
    padding: 0px;
    
}

.oblig{
    font-weight: bold;
}

form{
    width: 30em;
    background-color: #eee;
}
legend{
    font-weight: bold;
}
.dorian{
    color: rebeccapurple;
}

h5{
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    width: 100%;
    background-color: black;
    margin-bottom: 10px;
}